@import "../../styles/colors.scss";

.start {
    color: $color-font;
    font-size: 32px;
    font-family: "Noto Sans Telugu", sans-serif;
    font-weight: 700;
    border: none;
    margin: 0 20px;
    cursor: pointer;
}

.start:active {
    color: brown;
}