@import "../../styles/colors.scss";
@import "../../styles/sizes.scss";

.card {
    width: 100%;
    aspect-ratio: 4 / 5;
    max-width: 150px;
    perspective: 1000px;
    margin: 15px auto;
  
    .inner-card {
      width: 100%;
      height: 100%;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.4s;
    }
  
    &.back .inner-card {
      transform: rotateY(180deg);
    }
  
    .front, .back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      border: 2px solid $color-accent;
      border-radius: 8px;
    }
  
    .front {
      background-image: linear-gradient(
    70deg,
    hsl(43deg 74% 49%) 0%,
    hsl(44deg 77% 50%) 5%,
    hsl(45deg 82% 50%) 12%,
    hsl(45deg 87% 51%) 20%,
    hsl(46deg 92% 51%) 31%,
    hsl(47deg 97% 50%) 43%,
    hsl(47deg 97% 50%) 55%,
    hsl(46deg 92% 51%) 67%,
    hsl(45deg 87% 51%) 77%,
    hsl(45deg 82% 50%) 86%,
    hsl(44deg 77% 50%) 94%,
    hsl(43deg 74% 49%) 100%
  );
      cursor: pointer;
    }
  
    .back {
      background-color: $color-secondary;
      transform: rotateY(180deg);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .image {
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }
  }

  @media (max-width: 768px) {
    .card {
      max-width: 120px; 
    }
  }

  @media (max-width: 420px) {
    .card {
      max-width: 100px;
    }
  }