@import "../../styles/colors.scss";
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  input[type="radio"] {
    display: none;
  }

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    color: $color-font;
    padding: 8px 0px;
    margin-left: 40px;
    cursor: pointer;

    img {
      display: none;
      margin-right: 8px;
    }

    img.active {
      display: inline-block;
    }
  }

  label.active {
    margin-left: 0px;
  }
}
