body {
  background-color: #f0f0f0;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
}

.flex {
  display: flex;

}